body {
    background-color: #f2e1e2;
}

.vit {
    padding: 50px 200px;
}

.vit h1 {
    text-align: center;
    font-size: 70px;
    font-family: alex brush;
    text-shadow: rgb(175, 76, 76) 0.1em 0.1em 0.2em;
}

.container-vitrine {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-auto-rows: 300px;
    justify-content: center;
    margin-top: 60px;
}

.item-vitrine{
    display: block;
    overflow: hidden;
    width: 250px;
    height: 250px;
    border-width: 20px;
    border-style: solid;
    border-image: linear-gradient(0deg, #c05080, #bc827b) 1;
}

.item-vitrine img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-sombra {
    box-shadow: 7px 7px 13px 10px rgba(20, 30, 40, 0.22);
}

.cards-vitrine{
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgb(170, 52, 52);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
    justify-content: space-around;
}
.image{
    max-height: 250px;
    border-radius: 50%;
}
.card h2{
    font-weight: bold;
   text-align: center;
}

.myButton {
	box-shadow: 3px 4px 0px 0px #899599;
	background:linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #d6bcd6;
	display:inline-block;
	cursor:pointer;
	color:#3a8a9e;
	font-family:Arial;
	font-size:20px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
.myButton:hover {
	background:linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color:#bab1ba;
}
.myButton:active {
	position:relative;
	top:1px;
}
